.type-container {
    position: relative;
}

.clear-btn {
    position: absolute;
    top: 10%;
}

.custom-badge {
    background-color: #cb3a5f;
    color: #fff;
    margin-left: 5px;
    border-radius: 50%;
    padding: 0 7px;
    font-size: 13px;
    font-weight: 500;
}